<div class="container">
    <div class="row" id="article-row">
        <article>
            <div class="container" id="article-rows">
                <div class="row" id="header-row">
                    <div id="header"></div>
                </div>
                <div class="row" id="body-row">
                    <div class="container" id="body"></div>
                </div>
            </div>
        </article>
    </div>
    <div class="row" id="footer-row">
        <footer class="footer" id="footer"></footer>
    </div>
</div>
