<div class="navbar navbar-static navbar-right">
    <div class="navbar-collapse">
        <ul class="nav">
            <div class="btn-group">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="btnmenu" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="btnmenu">
                        <%= content %>
                   </ul>
                </div>
            </div>
        </ul>
    </div>
</div>
