/* Uncomment to add a Google Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Voltaire');

/* Add custom CSS here. */
#article, #article h1 {
    font-family: "Voltaire";
    font-weight: 400
}

#issue {
    #menu {
        .dropdown-submenu {
            position: relative;
            .dropdown-menu {
		max-height:500px; /* you can change as you need it */
		overflow:auto; /* to get scroll */
                top: 0;
                right: 100%;
                margin-top: -6px;
                margin-left: -1px;
                border-radius: 0 6px 6px 6px;
            }
            a.submenu-title {
                pointer-events: none;
                cursor: default;
            }

#article p, #article p.pullquote {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 300;
    color: #333;
    font-style: normal
}

.leaflet-popup-content {
	font-family: "Open Sans";
	margin: 14px 20px;
	line-height: 1.4;
	}
.leaflet-popup-content p {
	margin: 18px 0;
	}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 1px;
    opacity: .9;
    }
